//Fonts that will be used.
$font-logo: "Times New Roman", Times, serif;
$font-stack: 'Playfair Display', serif;
$font-headline: 'Abril Fatface', cursive;

//Colors used across the site
$color-tint: rgba(130, 123, 0, 0.592);
$color-theme: #827b00;
