//Fonts that will be used.
$font-logo: "Times New Roman", Times, serif; //Font used for the O.M logo
$font-stack: 'Playfair Display', serif; //Font used for all text on site
$font-headline: 'Oswald', sans-serif; //Fonts used for headline text

//Colors used across the site
$color-tint: rgba(130, 123, 0, 0.592);
$color-theme: #827b00; //The gold yellow color which is the main color of the site
