//-----------ABOUT-SECTION-----------
//-----------------------------------
//The section class that sets the size of the about section and
//creates a rectangle theme using gradients in the background
//z-index is to make the about page appear above the video playing
// incase the video would appear larger on some screens
//-----------------------------------
.about{
  color: #000;
  position: relative;
  width: 100%;
  height: 550px;
  z-index: 100;
  background-color: #FFF;

  background:
    linear-gradient(135deg, #F8F8F8 22px, #F0F0F0 22px, #F0F0F0 24px, transparent 24px, transparent 67px, #F0F0F0 67px, #F0F0F0 69px, transparent 69px),
    linear-gradient(225deg, #F8F8F8 22px, #F0F0F0 22px, #F0F0F0 24px, transparent 24px, transparent 67px, #F0F0F0 67px, #F0F0F0 69px, transparent 69px)0 64px;
    background-color:#F8F8F8;
    background-size: 64px 128px;
}

//-------------FLEXBOX-------------
//---------------------------------
//The flexbox class we can use all over the site. Will display
//the objects inside as flexbox in a row with space around
//---------------------------------
.flex{
	display: flex;
	flex-direction: row;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

//-----------ABOUT-COLLUMN---------
//---------------------------------
//The two collumns in the about page
//setting a sticky width and height for it.
//---------------------------------
.about-col{
	//background-color: #CCC;
	width: 500px;
	height: 500px;
}

//-----------ABOUT-TEXT------------
//---------------------------------
//A class used in the about section to
// set the text into the standard text for the page.
//---------------------------------
.about-text{
	text-align: center;
	font-family: $font-stack;
  color: #000;
}

//-----------ABOUT-UNDERTITLE------
//---------------------------------
//setting the font size into a size more acceptable
//for the headline text
//---------------------------------
.about-title{
  color: #000;
}

//-----------ABOUT-UNDERTITLE------
//---------------------------------
//setting the font size into a size more acceptable
//for the text under a headline.
//---------------------------------
.about-undertitle{
  color: #000;
 //font-size: 20px;
 padding-bottom: 25px;
}

//-----------ABOUT-WRAP------------
//---------------------------------
//Wrapper for the about section and
//adds a padding on the top to not make the content
//feel its too clumped up.
//---------------------------------
.about-wrap{
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

.temp-img{
  width: 100%;
  height: 100%;
  background-image: url("../img/oskar.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


.about-tablist{
  list-style-type: none;
}

.about-tablist li{
  display: inline-block;
  transition: all 0.2s ease;
}

.about-tablist a{
  color: #000;
  padding: 5px;
  font-size: 1.5em;
}

.about-tablist li:hover{
  border-bottom: 2px solid $color-theme;
}

.about-active{
  border-bottom: 2px solid $color-theme;
}

.tab{
  display:none;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.active{
  display: block;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.about-skillList{
  list-style-type: none;
}

.about-skillBar{
  height: 25px;
  width: 100%;
  background-color: $color-theme;
  border-radius: 20px;
}

.about-skill{
  float:left;
  background-color: #e8cd4d;
  width: 50%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid $color-theme;
  text-align: center;
  color: #000;
  font-family: $font-headline;
}

//-----------ABOUT-BUTTON----------
//---------------------------------
//The button in the about page
//we give it a nice background color and a nice outline
//as well as making it float right for a better UX design.
//---------------------------------
.about-button{
 float: right;
 padding: 5px 15px;
 background: #e8cd4d;
 font-weight: 700;
 color: #000;
 border: 2px solid $color-theme;
 border-radius: 5px;
}

.about-button a{
  color: #000;
}

//----------ABOUT-FACEIMAGE-MOBILE--
//----------------------------------
//The image that will replace the big image when the screen is adjusted
//for mobile users.
//----------------------------------
.about-faceimg-mobile{
  visibility: hidden;
  width: 150px;
  height: 0px;
  border-radius: 50%;
  margin: auto;
  background-image: url("../img/_DSC1696.JPG");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

//-------------------------------------
//----------SPACE-STYLINGS-------------
//Styles used to space around divs
//-------------------------------------
.about-space-bot{
 padding-bottom: 50px;
}

.about-col p{
  padding-top: 20px;
}

//-------------------------------------
//----------MEDIA-TAG-800-------------
//This is a media tag that decides what happends when the
//screens max width is 800px
//-------------------------------------
@media screen and (max-width: 800px){
  .about{
    height: 650px;
  }

  .about-image-col{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .about-col{
    width: 100%;
  }

  .flex{
    flex-direction: column;
  }

  .about-faceimg-mobile{
    visibility: visible;
    height: 150px;
    margin-bottom: 20px;
  }

  .about-undertitle{
    padding-bottom: 20px;
  }

  .about-button{
    margin-top: 20px;
  }

  .about-space-bot{
    padding-bottom: 25px;
  }
}
