.about{
  position: relative;
  width: 100%;
  height: 650px;
  z-index: 100;
  background-color: #FFF;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1900+0,ffffff+5,ffffff+32 */
/*  background: #1a1900; /* Old browsers */
//  background: -moz-linear-gradient(top,  #1a1900 0%, #ffffff 5%, #ffffff 32%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1900), color-stop(5%,#ffffff), color-stop(32%,#ffffff)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top,  #1a1900 0%,#ffffff 5%,#ffffff 32%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top,  #1a1900 0%,#ffffff 5%,#ffffff 32%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top,  #1a1900 0%,#ffffff 5%,#ffffff 32%); /* IE10+ */
//  background: linear-gradient(to bottom,  #1a1900 0%,#ffffff 5%,#ffffff 32%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1900', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.about-wrap{
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
