//-------------------------------------
//----------Link stylings--------------
//-------------------------------------
a{
  text-decoration: none;
}

a:visited{
  color: #FFF;
}

a:link{
  color: #FFF;
}

//--------------end--------------------
//----------Link stylings--------------
//-------------------------------------

//-------------------------------------
//----------NORMALIZE-H1-MARGIN--------
//-------------------------------------
h1{
  margin: 0;
}

//-------------------------------------
//----------SPACE-STYLINGS-------------
//Styles used to space around divs
//-------------------------------------
.space-bot{
 padding-bottom: 50px;
}

.space-top{
  padding-top: 50px;
}

//-------------------------------------
//----CLASSES-FOR-HEADLINE-FONTS-------
//-------------------------------------
.headline-font{
  font-family: $font-headline;
}

.headline{
  font-family: $font-headline;
}

.text-bigYellow{
	color: $color-theme;
}

//-------------------------------------
//----------DOTTED-HR-TAG--------------
//Dotted hr tag used for separation on the site.
.dotted-hr{
   width: 80%;
   border-top: 1px dotted #000;
}