//-------------------------------------
//----------PORTFOLIO-------------------
//This is the section class for our portfolio section.
//here we decide the background image, which fonts to use and the size.
//-------------------------------------
.portfolio{
  width: 100%;
  height: 830px;
  //background-color: #000;
  background-image: url("../img/workBoard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  overflow: hidden;
}

//-------------------------------------
//----------PORTFOLIO CONTAINER-------------------
//This is the contianer for the portfolio where we simply set the
//width to 80 and margin auto to center the content.
//-------------------------------------
.portfolio-container{
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

//-------------------------------------
//---------PREVIOUS WORK-------------------
//This is the unordered list for our previous projects
//Here we simply just remove the round bulltes next to the list items.
//-------------------------------------
.previous-work{
  list-style: none;
}

//-------------------------------------
//---------WEBSITES-------------------
//This is the list items that will act as our previous work
// since we want the objects to be something you interract with i set the cursor to a pointer
// and we add a transition since we want it to move when hovered.
//-------------------------------------
.websites{
  width: 300px;
  height: 250px;
  cursor: pointer;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 2px solid #FFF;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transition: margin 0.3s ease-in-out;
}

//-------------------------------------
//---------WEBSITE INFO-------------------
//This is the big info box on the other side of all the websites
// we set the position absolute since we want to type the content in the html
// and still be outside of our small list item.
// We also give it a margin left since we want the slide effect.
//This object will be invisible when not active so we set the opacity to 0 and pointer-events to none
//so its not interactable
//-------------------------------------
.website-info{
  position: absolute;
  height: 500px;
  width: 500px;
  top: 100px;
  left: 600px;
  padding: 20px;
  margin-left: 20px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  border-radius: 30px;
  border: 2px solid #FFF;
  text-align: left;
  color: #FFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}

//-------------------------------------
//---------WEBSITE INFO ACTIVATED-------------------
//This is the currently displaying website info box.
// we give it back the pointer events and use a transform to make the
//transition not appear choppy on chrome for example.
//-------------------------------------
.selected-website .website-info{
  opacity: 0.8;
  //margin-left: 0px; //Margin can make the transition choppy on chrome, better to use transform..
  pointer-events: all;
  cursor: default;
  -webkit-transform: translate(-20px, 0);
  -webkit-transition: -webkit-transform 1s linear;
  -moz-transform: translate(-20px, 0);
  -moz-transition: -moz-transform 1s linear;
  -ms-transform: translate(-20px, 0);
  -ms-transition: -ms-transform 1s linear;
  transition: all 0.4s ease-in-out;
}

//-------------------------------------
//---------WEBSITES ACTIVATED-------------------
//This is the currently viewed website.
//We add a margin left to 50px so it seems like its selected or the item is standing out.
//-------------------------------------
.selected-website{
  transition: all 0.3s ease-in-out;
  margin-left: 50px;
}

//-------------------------------------
//---------WEBSITE INFO HEADLINE-------------------
//This is the info box headline which we give a new font and align it to center.
//-------------------------------------
.website-info-headline{
  padding-bottom: 30px;
  text-align: center;
  color: #FFF;
  font-family: $font-headline;
}

//-------------------------------------
//---------WEBSITE INFO BUTTON-------------------
//This is the call to arms button we place in every info box
// we just have standard settings for a link to appear like a button here.
//-------------------------------------
.website-info-button{
  //position: absolute;
  //bottom: 30px;
  padding: 10px;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
  text-align: right;
  background-color: #000;
  color: #FFF;
  border-radius: 10px;
  border: 3px solid #FFF;
  font-family: $font-headline;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}


//-------------------------------------
//---------CLASSES FOR WEBSITE BACKGROUND IMAGES-------------------
//This is classes used for background images for the websites.
//-------------------------------------
.site-oldPortfolio{
  background-image:url("../img/portfolio-old.png");
}

.site-jacekPortfolio{
  background-image:url("../img/jacek-portfolio.png");
}

.site-insideMetal{
  background-image:url("../img/inside-metal.png");
}

@media screen and (max-width: 1280px){
  .website-info{
    left: 550px;
  }
}

@media screen and (max-width: 1200px){
  .website-info{
    left: 450px;
  }
}

@media screen and (max-width: 1080px){
  .portfolio-container{
    width: 100%;
  }
}

@media screen and (max-width: 981px){
  .website-info{
    top: 100px;
    left: 600px;
  }
}

@media screen and (max-width: 980px){
  .portfolio{
    height: 500px;
  }

  .websites{
    display: inline-block;
    position: absolute;
    top: 350px;
    bottom: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .selected-website{
    top: 300px;
    margin-left: 0px;
  }

  .website-info{
    width: 250px;
    height: 280px;
    overflow: hidden;
    left: 0;
    top: -300px;
  }

  .website-info h1{
    font-size: 3vh;
  }

  .intro-text{
    padding-bottom: 100px;
  }
  .time-span{
    display: none;
  }
}
